{% extends 'basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Breakfast.com</h1>
	  <p> In May 18 , Breakfast.com  began operations by signing up own shop. Soon enough, the first team of Hunger Saviors came into action to deliver breakfast within 40 minutes. Shortly after, breakfast raised its first round of funding and launched the app in july  of 2020. Fun fact: The technology that delivers great breakfast right to your doorstep was completely developed in-house!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
